/* Estilos Generales */
*{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    font-size: 16px;
}

.logotipo-fumiwest{
    width: 30rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;    
    margin: 0;
    padding: 0;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #49a452;
}

.main-general{
    background-color: #fdfae9;
}

/* Estilos Header */
.header-contenedor{
    background-image: url(../img/plagas/header-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    height: 40vh;
}

.oscurecer-fondo{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
}

.header-titulo{
    color: #000000;
    text-align: center;
}

.header-contenedor-superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Estilos Main Inicio */
.main-contenedor{
    background-image: url(../img/plagas/img03.png);
}

.sobre-nososotros{
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
}

.titulo-quienes-somos{
    font-size: 2rem;
    margin: 2rem;
}

.nuestras-redes{
    margin-left: 2rem;
}

.redes{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 0.6rem;
}

.iconos-redes{
    width: 1rem;
    margin-right: 0.3rem;
}

/* Estilos Main plagas */
.plagas-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 5rem;
}
.contenedor-plagas{
    width: 20rem;
}
.titulo-plagas{
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.imagen-plagas{
    width: 100%;
}

.queres-saber-mas{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
}

/* Estilos Main Servicios */
.contenedor-servicios {
    padding: 1rem;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.servicio {
  background-color: #ffffff;
  border-left: 5px solid #2d7a50;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.titulo-servicios{
  color: #2d7a50;
  margin-bottom: 0.5rem;
}

/* Estilos Main contacto */
.parrafo-contacto{
    padding: 2rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* Estilos Main Preguntas Frecuentes */
.preguntas-respuestas{
    padding: 2rem 20rem;
}

details {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

.pregunta{
  font-weight: bold;
  color: #133349;
  font-size: 1.1rem;
  cursor: pointer;
}

details[open] {
  background-color: #f1faff;
}

.parrafo-respuesta{
  margin-top: 0.5rem;
  color: #444;
}

/* Estilos Footer */
.footer-contenedor{
    background-color: #7d887edc;
    font-size: 1rem;
    text-align: right;
}

/* Tablet
@media (min-width: 600px){
    ul{
        flex-direction: row;
    }
}

/* Desktop */
/* @media (min-width: 1200px){
    .contenedorSuperiorHeader{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
} */